.header
    width: 100%
    min-height: $XXXL
    display: grid
    grid-template-columns: 1fr 8fr 1fr
    align-items: center
    padding: $S $L

    &__identity
        display: flex
        flex-direction: row
        align-items: center
        gap: $XXS

        &__logo
            height: $XL
            width: $XL

        &__name
            font-size: $XS
            font-family: $fuente_primaria
            font-weight: 900
            letter-spacing: 5px
            color: $color_claro

    &__browser
        height: 60%
        width: 100%
        min-width: 280px
        max-height: $L
        display: flex
        justify-content: space-between
        align-items: center
        align-self: center
        gap: $XS
        position: relative

        &__icon
            position: absolute
            top: 0
            right: 10px
            height: 100%
            max-width: $L
            min-width: $M
            display: flex
            border-radius: 0 $S $S 0
            justify-content: end
            color: $color_placeholder

        &__input
            border-radius: $S
            height: 100%
            width: 100%
            font-size: $XS
            color: $color_claro
            padding-left: $XS
            border: none
            outline: none
            background-color: $color_oscuro_terciario

            &:focus
                background-color: $color_claro
                color: $color_oscuro_primario

            &::placeholder
                color: $color_placeholder

        &:hover
            .header__browser
                &__input
                    background-color: $color_claro
                    color: $color_oscuro_primario

                &__icon
                    color: $color_oscuro_primario

    &__nav
        height: 100%
        width: 100%
        display: flex
        flex-direction: row
        align-content: center

        &__list
            height: 100%
            width: 100%
            display: grid
            grid-template-columns: 1fr 1fr
            gap: $XXS
            color: $color_claro
            list-style: none

            &__item
                height: 100%
                width: 100%
                display: flex
                align-items: center
                justify-content: center

                &__link
                    font-size: $XS
                    text-align: center
                    color: $color_claro
                    font-family: $fuente_secundaria
                    position: relative

                    &::before
                        content: ''
                        position: absolute
                        bottom: -2px
                        left: 0
                        width: 100%
                        height: 2px
                        background: $color_claro
                        z-index: 1
                        transform: scaleX(0)
                        transform-origin: left
                        transition: transform 0.3s ease-in-out

                    &:hover::before
                        transform: scaleX(1)

    &__menu

        &--disabled
            display: none

.fondo__desplegable
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    background-color: $color_oscuro_terciario
    opacity: $opacidad
    display: none
    z-index: 99
    animation: fade none .8s

    &__active
        display: flex
