@import 'utilities/variables'
@import 'base/reset'
@import 'layout/header'
@import 'layout/aside'

.container-page
    height: 100%
    display: flex
    flex-direction: row

.main
    display: flex
    flex-direction: column
    gap: $S
    flex-grow: 1

h1
    color: $color_claro
    padding: $XXL
    font-size: $XXXL
    font-family: $fuente_primaria